[Unit]
Description=BearBox
After=multi-user.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/sleep 8
ExecStart=/bin/bash -c 'PYTHONPATH=/home/bearbox/bearbox/core:/home/bearbox/bearbox python3 /home/bearbox/bearbox/core/idle/idle_main.py'
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target